/* ELEMENT STYLING */

/*body {
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0;
    margin: 0px;
}
h1,h2,h3 {
    line-height:1.2;
}
*/
/* LAYOUT */

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.grid_contents {
    flex-grow: 1;
    width: 800px;
    margin: 0 auto;
}

div#new_header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

a.header_link, a.login_link {
    color: blue;
    text-decoration:none;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

span#header_links, span#login_links {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

span>a {
    flex:1;
}

.footer {
    padding-bottom:4px; 
    padding-top:4px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* COLOUR */
#new_header {
    background-color: #99D3DF;
}

.footer {
    background-color: #88BBD6;
}

.grid_contents {
    background-color: #CDCDCD;
}

body {
    background-color: #E9E9E9;
}

/* Other styles; */
/*link hover*/
span>a:hover {
    background-color:rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid black; /* or whatever colour you'd prefer */
}

