<html>
    <head>
        {% load static %}
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'rivers/css/min.css' %}" /> -->
        <link rel="stylesheet" type="text/css" href="{% static 'rivers/css/menu.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'rivers/images/drop.ico' %}" />
        
        <title>
            {% if PAGE_TITLE %}
                {{ PAGE_TITLE}} - {{ WEBSITE_TITLE }}
            {% else %}
                {{ WEBSITE_TITLE }}
            {% endif %}
        </title>
    </head>

    <body><!-- The overlay -->
        <!-- Use any element to open/show the overlay navigation menu -->


        <div id="myNav" class="overlay">
            <div id="navbutton" class="closebtn toprowitem" onclick="toggleNav()">&#9776;</div>

            <!-- Overlay content -->
            <div class="overlay-content">
                <a href="{% url 'index' %}">HOME</a>
                {% if user.is_authenticated %}
                        <a href="{% url 'levels' 0 %}">LEVELS ALL</a>
                        <a href="{% url 'levels' 1 %}">LEVELS FAV</a>
                {% else %}
                        <a href="{% url 'levels' 0 %}">LEVELS</a>
                {% endif %}
                <a href="{% url 'rivers' %}">GUIDES</a>
                <a href="{% url 'map' %}">MAP</a>
                {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">LOG OUT</a>
                {% else %}
                        <a href="{% url 'login' %}">LOG IN</a>
                        <a href="{% url 'login' %}">REGISTER</a>
                {% endif %}
            </div>
        </div>
        <div id="wholepage">
            <div class="header">
                <div class="closebtn toprowitem" onclick="toggleNav()">&#9776;</div>
                <div class="headertext toprowitem">{{ PAGE_TITLE }}</div>
            </div>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <footer class="footer">
                Website developed by Andrew Houghton
            </footer>
        </div>
    </body>
    <script type="text/javascript" src="{% static 'rivers/js/toggleNav.js' %}"></script>
    
</html>

