<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'rivers/css/base.css' %}" />
        <link rel="shortcut icon" type="image/png" href="{% static 'rivers/images/drop.ico' %}" />
        
        <title>
            {% if PAGE_TITLE %}
                {{ PAGE_TITLE}} - {{ WEBSITE_TITLE }}
            {% else %}
                {{ WEBSITE_TITLE }}
            {% endif %}
        </title>
    </head>

    <body class="page">
        <div id="new_header">
            <!-- Site Logo -->
            <span class="site_logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'rivers/images/WW_NSW_logo_small_tran.png' %}">
                </a>
            </span>
            <!-- Site links -->
            <span id="header_links">
                <a class="header_link" href="{% url 'index' %}">
                        HOME
                </a>
                <a class="header_link" href="{% url 'levels' 0 %}">
                        LEVELS ALL
                </a>
                <a class="header_link" href="{% url 'levels' 1 %}">
                        LEVELS FAV
                </a>
                <a class="header_link" href="{% url 'rivers' %}">
                        GUIDES
                </a>
                <a class="header_link" href="{% url 'map' %}">
                        MAP
                </a>
            </span>
            <!-- Login info -->
            <span id="login_links">
                {% if user.is_authenticated %}
                    <a class="login_link" href="{% url 'logout' %}">
                        LOG OUT
                    </a>
                {% else %}
                    <a class="login_link" href="{% url 'login' %}">
                        LOG IN
                    </a>
                    <a class="login_link" href="{% url 'login' %}">
                        REGISTER
                    </a>
                {% endif %}
            </span>
        </div>

        <div class="grid_contents">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="footer">
            Website developed by Andrew Houghton
        </footer>
    </body>
</html>