{% extends "base_page.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'rivers/css/sectiongrid.css' %}" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuNRjdEY7DeYqRRov1czGcgS9hmLBwmc4"></script>
<script type="text/javascript" src="{% static 'rivers/js/mapbutton.js' %}"></script>
<script type="text/javascript" src="{% static 'rivers/js/maps.js' %}"></script>

<h1>Create Section</h1>

<form method="post" id="formgrid" class="formgrid">
    {% csrf_token %}

    <p class="river_lookup">
        {{ form.river.label_tag }}
        {{ form.river }}
    </p>

    <p class="river_create">
        <a href="">Create New River</a>: Opens in current page
    </p>

    <p class="nickname">
        Section 
        {{ form.name.label_tag }}
        {{ form.name }}
    </p>

    <p class="gauge">
        {{ form.gauge.label_tag }}
        {{ form.gauge }}
    </p>

    <p class="minimum">
        {{ form.minimum.label_tag }}
        {{ form.minimum }}
    </p>

    <p class="grade">
        Gauge
        {{ form.grade.label_tag }}
        {{ form.grade }}
    </p>

    <div class="markdownx">
        {{ form.description.label_tag }}
        {{ form.description }}
        <div class="markdownx-preview">
            {{ form.media }}
        </div>

    </div>

    <p class="points">
        Add points to map
    </p>
    <div class="map_container">
        Map of section
        <div id="map"></div>
    </div>

    <!-- <div hidden> -->
        {{ point_form1 }}
        {{ point_form2 }}
    <!-- </div> -->

    <br>
    <button onclick="submitForm()" class="submit_button">Submit</button>

</form>


{% endblock %}
