{% extends "base_page.html" %}
{% block content %}

<h2>{{ river.name }}</h2>
<h4>{{ section.name }}</h4>

<a href="placeholder_url">Edit this page</a>

<h5>Grade: {{ section.grade }}</h5>
<h5>Minimum Level: {{ section.minimum }}</h5>

Guide Content:
<p>
    {{ section.description_markdown|safe }}
</p>

<div class="map">Map</div>

{{ disclaimer }}

<p>
    Guide created by {{ section.creator }} on {{ section.creation_time }}    
</p>
<p>
    Last edited by {{ section.recent_editor }} on {{ section.last_edit_time }}
</p>

{% endblock %}